body {
  font-family: "Noto Sans", sans-serif !important;
}

.navigation,
.header-navbar {
  font-family: inherit;
}

.main-menu {
  background: #f8f8f8 !important;
  box-shadow: none !important;
}

.navigation {
  background: #f8f8f8 !important;
}

.dark-layout .main-menu {
  background: #161d31 !important;
  box-shadow: none !important;
}

.dark-layout .navigation {
  background: #f8f8f8 !important;
}

.vertical-layout .main-menu .navigation a.active {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-left: 0;
  padding-left: 30px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navigation li a svg {
  margin-right: 1rem;
}

.dark-layout .main-menu .shadow-bottom
 {
    background: linear-gradient(180deg, #161d31 44%, rgb(22 29 49 / 51%) 73%, rgb(22 29 49 / 0%));
}

.dark-layout .main-menu-content .navigation-main .sidebar-group-active .menu-content {
    background-color: #161d31;
}

.header-navbar.navbar-shadow {
    box-shadow: none;
    background: #f8f8f8;
}
